{% extends "base.html" %}
{% block content %}
<h1 class="text-xl font-bold">Productos</h1>

<a href="{% url 'inventario:producto_create' %}">+ Nuevo producto</a>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>SKU</th><th>Nombre</th><th>Stock</th><th>Mínimo</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in object_list %}
      <tr>
        <td>{{ producto.sku }}</td>
        <td><a href="{% url 'inventario:producto_detail' producto.pk %}">{{ producto.nombre }}</a></td>
        <td>{{ producto.stock_actual }}</td>
        <td>{{ producto.stock_minimo }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="4">Sin productos aún.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
